# Environment files
.env
.venv/

# Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/

# Installation files
.installed

# Distribution files
dist/
build/
*.egg-info/
*.whl

# Test files
.coverage
nosetests.xml
*.cover
*.log
*.tox/

# Julia build files
.julia/

# VsCode files
.vscode/

# JSON configuration files
*.json

# META-INF files
META-INF/

# Configuration files
*.cfg